
<p   style= "text-align: center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding-top: 0.5cm; padding-bottom: 0.5cm; text-shadow: cornsilk; background: linear-gradient(to bottom, #3c074dad 0%, black 100%);

color:rgb(255, 255, 255); font-size:xx-large; font-weight: bolder; margin: 0;"> The Dark Grimoire <br> <img src="assets/images/dark grimoire.png" alt="grimoire"></p>

<router-outlet ></router-outlet>

<div style="background: linear-gradient(to bottom, #3c074dad 0%, black 100%);"> <br><br><br><br><br> </div>



