
<div style="padding-left: 1cm; background: black;">
<header><li ><a routerLink="/banco-cartas" routerLinkActive="active"> Cards Vault</a></li></header>
<body style="background: black; margin: 0;">
  <button  style="margin-left: 45%;" routerLink="/login"> Create Profile</button>
</body>
<body>
  <div style="height: auto ; width: auto; background: linear-gradient(to top, #3c074dad 0%, black 100%);">
    <img style="max-height: 100%; max-width: 100%; padding-top: 1cm;  ;" src="assets/images/cartas.png"> </div>
</body>
</div>

<footer style="background: linear-gradient(to bottom, #3c074dad 0%, black 100%); margin: 0"></footer>
